<as-split class="simple-split" [gutterSize]="2" direction="horizontal">
  <as-split-area [size]="70">
    <app-code-editor [(code)]="codeSnippet.code"
                     [language]="codeSnippet.language"
                     [fontSize]="fontSize"
    ></app-code-editor>
  </as-split-area>
  <as-split-area [size]="30">
    <div class="d-flex flex-column h-100">
      <app-output-viewer #outputViewer [textSource]="codeExecutionOutput$"
                         class="flex-grow-1"></app-output-viewer>
      <textarea class="g--resize-none" placeholder="Входные данные" autosize minRows="1" maxRows="5"
                type="text" [(ngModel)]="textInput"></textarea>
      <div class="d-flex m-1">
        <button class="btn btn-success g--margin-right-px-5" (click)="_codeRunBtn$.next()">Запуcтить</button>
        <button class="btn btn-success g--margin-right-px-5" (click)="_codeRunTestsBtn$.next()"
                *ngIf="onRunTestsClick" [disabled]="!onRunTestsClick">
          Запустить тесты
        </button>
        <button class="btn btn-dark" (click)="outputViewer.clear()">Очистить</button>
      </div>
    </div>
  </as-split-area>
</as-split>
