@import "~src/variables";

.passed {
  background: rgba(58, 153, 13, 0.63);
}

.failed {
  background: rgba(153, 13, 13, 0.63);
}

.creation {
  background: rgba(162, 170, 158, 0.63);
}

.link {
  width: $answerLinkSize;
  height: $answerLinkSize;
  font-family: Roboto, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  font-size: 14px;
  margin-right: 18px;

}
