[submodule "backend/src/test_runner/utils/pyjson"]
	path = backend/src/test_runner/utils/pyjson
	url = https://github.com/Frazi1/pyjson

[submodule "backend/src/test_runner/utils/bottle_sqlalchemy_session_manager_plugin"]
	path = backend/src/test_runner/utils/bottle_sqlalchemy_session_manager_plugin
	url = https://github.com/Frazi1/Bottle-SQLAlchemy-Session-Manager-Plugin.git

[submodule "backend/src/test_runner/utils/bottle_pyjson_plugin"]
	path = backend/src/test_runner/utils/bottle_pyjson_plugin
	url = https://github.com/Frazi1/Bottle-PyJson-Plugin

[submodule "backend/src/test_runner/utils/bottle_query_parser_plugin"]
	path = backend/src/test_runner/utils/bottle_query_parser_plugin
	url = https://github.com/Frazi1/Bottle-Query-Parser-Plugin.git
