<div *ngIf="functionObj != null">
  <h3>Сигнатура функции:</h3>
  <div class="function-name">
    <label>Имя:</label>
    <span>{{functionObj.name}}</span>
  </div>
  <input [(ngModel)]="functionObj.name">
  <button (click)="addArgument()">Добавить аргумент</button>
  <div *ngFor="let arg of functionObj.arguments" class="function-argument">
    <!--<label>{{arg.name}}</label>-->
    <input [(ngModel)]="arg.name">
    <app-code-type-selector [(value)]="arg.type"></app-code-type-selector>
    <button (click)="deleteArgument(arg)">Удалить</button>
  </div>
  <div class="function-return-type">
    <span>Тип возращаемого значения:</span>
    <app-code-type-selector [(value)]="functionObj.returnType"></app-code-type-selector>
  </div>
</div>
