<button [routerLink]="'/template/new'">Add Test</button>
<label>
  <span>Удаленные</span>
  <input type="checkbox" [(ngModel)]="_includeDeleted"
         (change)="_includeDeleted$.next(_includeDeleted);console.log('Checkbox click')">
</label>
<div *ngFor="let t of testTemplates">
  <div [routerLink]="['/template', t.id]">
    <span>{{t.id}}. Название: {{t.name}}  Вопросов: {{t.questionTemplates.length}}</span>
    <button *ngIf="!t.isDeleted" (click)="createTestInstance(t.id);$event.stopPropagation()">Запустить</button>
    <button #restoreBtn *ngIf="t.isDeleted"
            (click)="_restore$.next(t.id);$event.stopPropagation()">Восстановить
    </button>
  </div>
</div>
