<button [routerLink]="'/template/new'">Add Test</button>
<label>
  <span>Удаленные</span>
  <input type="checkbox" [(ngModel)]="includeDeleted"
         (change)="includeDeleted$.next(includeDeleted)">
</label>
<ng-container *ngIf="_testTemplates$ | async as testTemplates; else loading">
  <div class="section-panel-auto pb-1">
    <h2>Список тестовых шаблонов</h2>
    <div class="list-group ml-1 mr-1 mb-1" *ngFor="let t of testTemplates">
      <div class="list-group-item list-group-item-action d-flex" [routerLink]="['/template', t.id]">
        <div class="col-3 text-left">
          <div>
            <span class="font-weight-bold">{{t.id}}. {{t.name}}</span>
          </div>
          <div>Количество вопросов: {{t.questionTemplates.length}}</div>
        </div>
        <div class="col-3 text-left">
          <div class="font-weight-bold">Длительность:</div>
          <div>{{getFormattedTime(t.timeLimit)}}</div>
        </div>
        <div class="flex-grow-1">
          <div class="float-right">
            <button class="btn btn-outline-secondary mr-1"
                    (click)="openPermissionsModal(t);$event.stopPropagation()">Разрешения
            </button>
            <button class="btn btn-outline-primary" *ngIf="!t.isDeleted"
                    (click)="createTestInstance(t.id);$event.stopPropagation()">Запустить
            </button>
            <button *ngIf="t.isDeleted"
                    (click)="restore$.next(t.id);$event.stopPropagation()">Восстановить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div>LOADING...</div>
</ng-template>
