<ng-container *ngIf="generator">
  <div class="section-panel-auto pb-1">
    <h2>Генератор - {{generator.name}}</h2>
    <div class="text-left ml-2 mb-2 col-md-6 col-12">
      <label class="m-0 font-weight-bold">Название</label>
      <input type="text" [(ngModel)]="generator.name" class="form-control">
    </div>

    <div class="text-left ml-2 mr-2 mb-2 col-md-6 col-12">
      <label class="m-0 font-weight-bold">Описание генератора</label>
      <textarea class="form-control g--resize-both" [(ngModel)]="generator.description"></textarea>
    </div>
  </div>
  <div class="section-panel">
    <h2>Исходный код</h2>
    <div class="section-controls">
      <app-code-language-selector class="section-controls__item" [(value)]="generator.codeSnippet.language"
                                  (valueChange)="languageChanged$.next($event)"></app-code-language-selector>
    </div>
    <app-code-editor-with-executor [codeSnippet]="generator.codeSnippet"></app-code-editor-with-executor>
    <div class="d-flex m-2 justify-content-end">
      <button class="btn btn-primary align-self-end" *ngIf="isCreatingNew" (click)="add$.next()">Сохранить</button>
      <button class="btn btn-primary align-self-end" *ngIf="!isCreatingNew" (click)="update$.next()">
        Обновить
      </button>
    </div>
  </div>
</ng-container>
