<ng-container *ngIf="generator">
  <div class="section-panel-auto">
    <h2>Описание</h2>
    <div class="text-left ml-2 mb-2">
      <label class="m-0 font-weight-bold">Название</label>
      <input type="text" [(ngModel)]="generator.name" class="form-control w-25">
    </div>
    <as-split class="simple-split" [gutterSize]="2" direction="horizontal">
      <as-split-area size="50">
        <app-code-editor [(code)]="generator.description" [language]="'markdown'"></app-code-editor>
      </as-split-area>
      <as-split-area size="50">
        <markdown [data]="generator.description"></markdown>
      </as-split-area>
    </as-split>
  </div>
  <div class="section-panel">
    <h2>Исходный код</h2>
    <div class="section-controls">
      <app-code-language-selector class="section-controls__item" [(value)]="generator.codeSnippet.language"
                                  (valueChange)="languageChanged$.next($event)"></app-code-language-selector>
    </div>
    <app-code-editor-with-executor [codeSnippet]="generator.codeSnippet"></app-code-editor-with-executor>
    <div class="d-flex m-2 justify-content-end">
      <button class="btn btn-success align-self-end" *ngIf="isCreatingNew" (click)="add$.next()">Сохранить</button>
      <button class="btn btn-success align-self-end" *ngIf="!isCreatingNew" (click)="update$.next()">
        Обновить
      </button>
    </div>
  </div>
</ng-container>
