<div class="container-fluid" *ngIf="testTemplate != null">
  <h1>{{testTemplate.name}}</h1>
  <input [(ngModel)]="testTemplate.name">
  <button (click)="addQuestion()">Добавить вопрос</button>

  <div class="g--flex-column" *ngFor="let q of testTemplate.questionTemplates">
    <button (click)="removeQuestion(q)">Удалить</button>
    <app-test-question-template-editor [question]="q"></app-test-question-template-editor>
  </div>
  <button (click)="save()">Сохранить</button>
  <button *ngIf="isCreating === false" (click)="deleteTemplate()">Удалить</button>
</div>
