<div class="container-fluid d-flex flex-md-row flex-column position-relative" *ngIf="testTemplate != null">

  <div class="section-panel-auto col-md-4 col-lg-3">
    <h2>Настройки</h2>
    <div class="text-left mb-1">
      <label for="name" class="mb-0 font-weight-bolder">Название теста:</label>
      <input id="name" class="form-control" [(ngModel)]="testTemplate.name">
    </div>

    <div class="text-left mb-1">
      <label for="duration" class="mb-0 font-weight-bolder">Длительность, сек:</label>
      <input id="duration" class="form-control" [(ngModel)]="testTemplate.timeLimit">
    </div>

    <div class="mb-1">
      <h2 class="text-left">Вопросы</h2>
      <button class="btn btn-outline-primary mb-1 float-left" (click)="addQuestion()">Добавить вопрос</button>
      <app-question-list [(questions)]="testTemplate.questionTemplates" [(selectedQuestions)]="currentQuestion"
                         [multiSelection]="false" [allowDeletion]="true"></app-question-list>
    </div>
    <div class="d-flex">
      <button class="btn btn-outline-danger mr-2" *ngIf="isCreating === false" (click)="deleteTemplate()">Удалить
      </button>
      <button class="btn btn-outline-success flex-grow-1" (click)="save()">Сохранить</button>
    </div>
  </div>

  <div class="col-md-8 col-lg-9 g--flex-column" *ngIf="currentQuestion">
    <app-test-question-template-editor [question]="currentQuestion"></app-test-question-template-editor>
  </div>
</div>
