<div class="header">
  <button (click)="_displayContent = !_displayContent">Переключить</button>
  <h3 (click)="editingName = !editingName">Вопрос:
    <span *ngIf="!editingName">{{question.name}}</span>
    <input (click)="$event.stopPropagation()" *ngIf="editingName" [(ngModel)]="question.name">
  </h3>
</div>

<ng-container *ngIf="_displayContent">
  <textarea [(ngModel)]="question.description"></textarea>
  <div>
    <h2>Код решения</h2>
    <div>
      <app-code-language-selector [(value)]="question.codeSnippet.language"></app-code-language-selector>
      <button (click)="scaffoldSolutionFunction()">Сгенерировать код</button>
    </div>
    <app-code-editor [(code)]="question.codeSnippet.code"></app-code-editor>
  </div>
  <app-function-editor [functionObj]="question.codeSnippet.functionObj"></app-function-editor>
  <div>
    <h2>Входные данные</h2>
    <app-function-declarative-input-editor [functionObj]="question.codeSnippet.functionObj">
    </app-function-declarative-input-editor>
  </div>
</ng-container>
