<ng-container *ngIf="question">
  <div class="section-description section-panel-auto">

    <ng-container *ngIf="canEdit">
      <h2>Название вопроса</h2>
      <div class="col-md-5">
        <input class="form-control" *ngIf="canEdit" [(ngModel)]="question.name">
      </div>
    </ng-container>
    <ng-container *ngIf="!canEdit">
      <h1 class="text-left ml-2 mb-3">{{question.name}}</h1>
    </ng-container>

    <h2>Описание</h2>
    <as-split class="simple-split" [gutterSize]="2" direction="horizontal">
      <as-split-area *ngIf="canEdit" size="50">
        <app-code-editor [(code)]="question.description" [language]="'markdown'"></app-code-editor>
      </as-split-area>
      <as-split-area size="50">
        <markdown [data]="question.description"></markdown>
      </as-split-area>
    </as-split>
  </div>
  <div class="section-panel-auto g--min-height-px-350">
    <h2 class="text-left">Код решения</h2>
    <div class="section-controls">
      <div class="section-controls__item">
        <app-code-language-selector
          [(value)]="question.codeSnippet.language"></app-code-language-selector>
      </div>
      <button class="btn btn-outline-primary" (click)="scaffoldSolutionFunction()">Сгенерировать код</button>
    </div>
    <div>
      <app-code-editor-with-executor [codeSnippet]="question.codeSnippet" [onRunTestsClick]="runTestsClosure">
      </app-code-editor-with-executor>
    </div>
  </div>
  <div class="section-panel-auto g--min-height-px-350" *ngIf="canEdit">
    <h2 class="text-left">Входные данные</h2>
    <div class="text-left" *ngIf="inputGenerator">Генератор: {{inputGenerator.name}} </div>
    <div class="section-controls">
      <button class="section-controls__item btn btn-outline-primary" (click)="openGeneratorSelectionModal()">Выбрать
        генератор
      </button>
      <button class="section-controls__item btn btn-outline-primary" *ngIf="inputGenerator"
              (click)="openGeneratorRunnerModal()">Запустить генератор
      </button>
    </div>
    <app-code-editor [(code)]="textInput"></app-code-editor>
  </div>
</ng-container>
