<div class="header">
  <button class="btn btn-primary" (click)="_displayContent = !_displayContent">Переключить</button>
  <h3 (click)="editingName = !editingName">Вопрос:
    <span *ngIf="!editingName">{{question.name}}</span>
    <input (click)="$event.stopPropagation()" *ngIf="editingName" [(ngModel)]="question.name">
  </h3>
</div>

<ng-container *ngIf="_displayContent && question">
  <div class="section-description section-panel">
    <as-split class="simple-split" [gutterSize]="2" direction="horizontal">
      <as-split-area size="50">
        <app-code-editor [(code)]="question.description" [language]="'markdown'"></app-code-editor>
      </as-split-area>
      <as-split-area size="50">
        <markdown [data]="question.description"></markdown>
      </as-split-area>
    </as-split>
  </div>
  <div class="section-panel">
    <h2 class="text-left">Код решения</h2>
    <div>
      <app-code-language-selector [(value)]="question.codeSnippet.language"></app-code-language-selector>
      <button (click)="scaffoldSolutionFunction()">Сгенерировать код</button>
    </div>
    <div>
      <app-code-editor-with-executor [codeSnippet]="question.codeSnippet" [onRunTestsClick]="runTestsClosure">
      </app-code-editor-with-executor>
    </div>
  </div>
  <div class="section-panel">
    <h2 class="text-left">Входные данные</h2>
    <app-function-declarative-input-editor [functionObj]="question.codeSnippet.functionObj">
    </app-function-declarative-input-editor>
  </div>
</ng-container>
