<ngb-tabset>
  <ngb-tab title="Группы">
    <ng-template ngbTabContent>
      <div>
        <button class="btn btn-info" (click)="addGroupClick()">Добавить группу</button>
        <app-group-management *ngIf="groups" [groups]="groups"
                              (selectedGroupChange)="selectedGroupChange($event)"></app-group-management>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Пользователи">
    <ng-template ngbTabContent>
      <app-user-list [users]="usersSource | async"></app-user-list>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Импорт пользователей из ActiveDirectory">
    <ng-template ngbTabContent>
      <app-active-directory-query></app-active-directory-query>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
