<ng-container *ngIf="generator">
  <div class="section-panel-auto">
    <h2>Описание</h2>
    <app-code-editor [(code)]="generator.description"></app-code-editor>
  </div>
  <div class="section-panel">

    <app-code-language-selector [(value)]="generator.codeSnippet.language"
                                (valueChange)="languageChanged$.next($event)"></app-code-language-selector>
    <app-function-editor [functionObj]="generator.codeSnippet.functionObj"></app-function-editor>
    <app-code-editor-with-executor [codeSnippet]="generator.codeSnippet"></app-code-editor-with-executor>
    <div class="d-flex m-2 justify-content-end">
      <button class="btn btn-success align-self-end" (click)="add$.next()">Сохранить</button>
    </div>
  </div>
</ng-container>
