/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~ngx-toastr/toastr.css';

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

.g-- {
  &flex-column {
    display: flex;
    flex-direction: column;
  }

  &flex-row {
    display: flex;
    flex-direction: row;
  }
}
