/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

$sectionPanelBorderRadius: 5px;

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background: #f5f5f5;
}

.g-- {
  &flex-column {
    display: flex;
    flex-direction: column;
  }

  &flex-row {
    display: flex;
    flex-direction: row;
  }

  &cursor- {
    &pointer {
      cursor: pointer;
    }
  }

  &display- {
    &block {
      display: block;
    }
  }

  &resize- {
    &none {
      resize: none;
    }

    &both {
      //max-width: max-content !important;
      resize: both;
    }
  }

  &margin- {
    &right- {
      &px-5 {
        margin-right: 5px;
      }
    }
  }

  &padding- {
    &0 {
      padding: 0;
    }
  }

  &hover-only {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &min-height- {
    &px- {
      &350 {
        min-height: 350px;
      }
    }
  }


}


.as-split-gutter {
  height: auto !important;
}

as-split.simple-split {

  .as-split-area {
    & > p {
      padding: 5px;
    }
  }

  .as-split-gutter {
    //background-color: grey !important;
    position: relative;
  }

  .as-split-gutter-icon {
    background-image: none !important;
    background-color: black;
    transition: opacity .3s;
    opacity: 0;
    position: absolute;
  }

  .as-split-gutter.is-dragged .as-split-gutter-icon,
  .as-split-gutter-icon:hover {
    opacity: .1;
  }

  &.is-horizontal {
    .as-split-gutter-icon {
      width: 13px !important;
      left: -6px;
      right: 6px;
    }

    .as-split-area {
      height: auto;
    }
  }

  &.is-vertical {
    .as-split-gutter-icon {
      height: 13px !important;
      top: -6px;
      bottom: 6px;
    }
  }
}

.section-panel {
  @extend .section-panel-auto;

  & > h2 {
    text-align: left;
  }

  min-height: 600px;
}

.section-panel-auto {
  & > h2 {
    @extend .ml-2;
    text-align: left;
  }

  background: white;
  margin-bottom: 25px;
}

.section-controls {
  @extend .d-flex, .flex-md-row, .flex-column, .flex-grow-1, .m-md-2, .m-1;
}

.section-controls__item {
  @extend .mr-md-1, .mb-1, .mb-md-0;

  &:not(button) {
    @extend .col-md-3, .g--padding-0;
  }
}

.validation-error {
  color: #a50303;
  display: block;
}

.select-width- {
  &px-450 {
    & {
      select {
        width: 450px;
      }
    }
  }
}
