<div class="section-panel-auto">
  <h2>Список генераторов</h2>
  <div class="d-flex">
    <div class="col-3"></div>
    <div class="col-9">
      <button class="btn btn-outline-primary float-right" [routerLink]="'/generator/new'">Создать генератор</button>
    </div>
  </div>
  <div class="list-group" *ngFor="let gen of generators; index as i">
    <div class="list-group-item list-group-item-action" [class.active]="selectedItem == gen && allowSelection"
         (click)="onClick(gen)">
      <h2>{{i + 1}}. {{gen.name}}</h2>
      <div>{{gen.description}}</div>
      <!--    <div>Язык:{{gen.codeSnippet.language.displayName}}</div>-->
      <div>Кол-во аргументов: {{gen.callArguments.length}}</div>
    </div>
  </div>
</div>
