<div *ngIf="_testRun">
  <h1>{{_testRun.name}}</h1>
  <span>Заканчивается в: {{_testRun.endsAt || "Не указано"}}</span>
  <span (click)="router.navigate(['/result', _testRun.id])" class="g--cursor-pointer g--display-block">Просмотреть
    результаты</span>
  <div>
    <app-question-runner [questionRun]="currentQuestion"></app-question-runner>
    <div>
      <button (click)="previousQuestion()">Предыдущий</button>
      <button (click)="nextQuestion()">Следующий</button>
    </div>
    <ng-container *ngIf="!_testRun.isFinished">
      <button (click)="$save.next()">Сохранить</button>
      <button (click)="$finish.next()">Завершить</button>
    </ng-container>
  </div>
</div>
