<div class="h-100 w-100 d-flex position-relative">
  <div class="h-100 w-100 bg-light d-flex align-items-start flex-column overflow-auto"
       id="output-container" (click)="setDetailedItem(null)">
    <div *ngFor="let bubble of responses"
         class="bubble speech-bubble d-inline-block g--cursor-pointer flex-shrink-0 text-left"
         [class.bubble-valid]="bubble.isValid===true"
         [class.bubble-invalid]="bubble.isValid===false"
         [class.bubble-default]="bubble.isValid==null"
         (click)="setDetailedItem(bubble);$event.stopPropagation()">
    <span class="text-bubble text-left">
      {{bubble.actualOutput}}
    </span>
    </div>
  </div>
  <div *ngIf="detailedItem" class="position-absolute details bg-white h-100 overflow-auto"
       (click)="$event.stopPropagation()">
    <div class="position-sticky text-left p-1">
      <h1>Детали</h1>
      <app-answer-iterations-viewer [iterations]="detailedItem"></app-answer-iterations-viewer>
    </div>
  </div>

</div>
